# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
.Python
env/
venv/
ENV/
env.bak/
*.sqlite3

# --- FastAPI / Uvicorn ---
*.log
*.db
instance/
.webassets-cache
*.pid

# --- Dependencias ---
*.bak
pip-wheel-metadata/
*.dist-info/

# --- MongoDB ---
data/maps/

# ---  Modelos de IA ---
model/*.tflite
model/*.h5

# --- Archivos de prueba y salida ---
test_outputs/
*.test.json
salida/*.jpg
salida/*.json

# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.unityproj
*.sln

Packagescom.unity.

# --- Visual Studio ---
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
.user
.userprefs
.pidb
.booproj
.svd
.pdb
.mdb
*.vs/
*.vsidx
*.suo
*.user
*.userprefs

# --- Sistema operativo ---
.DS_Store
Thumbs.db
desktop.ini
.swp

# --- Git ---
*.orig 
*.rej

# --- Archivos específicos previos ---
map.png
Lista referencias para TFG.docx
DungeonMapDoodle.png

RollGrid/.vs/RollGrid/v17/DocumentLayout.json
RollGrid/.vs/RollGrid/v17/DocumentLayout.backup.json
*.vsidx
*.vsidx
RollGrid_backend/salida/map_cuadricula.json
RollGrid_backend/start.bat
RollGrid/.vs/RollGrid/FileContentIndex/3764388d-f94e-4b5f-b27d-562bf5d2a085.vsidx
RollGrid/.vs/RollGrid/FileContentIndex/3764388d-f94e-4b5f-b27d-562bf5d2a085.vsidx
/RollGrid_backend/venv_311
/RollGrid_backend_oldversion
